.form {
  display: flex;
  flex-direction: row;
  margin-top: .45rem;
}

.form_input {
  flex-grow: 1;
  padding-right: 1rem !important;
  input {
    background-color: white;
    padding: 1.25rem .5rem;
    box-sizing: border-box;
  }
}

.form_submit {
  background-color: blue;
  color: white;
}

.container {
  padding: 2rem 1rem;
}
