.application {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.searchbox_container {
  background: #2f4679;
  color: white;
}

.error_message {
  display: flex;
  padding: 1rem;
  background-color: orange;
  color: white;
  margin-top: 2rem;
}

.content {
  flex-grow: 1;
}

.footer {
  text-align: right;
  padding-right: 1rem;
  ul li {
    list-style-image: none;
    a {
      text-decoration: none;
      color: #898989;
      font-size: .75rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}